<a href="https://colab.research.google.com/github/Monisha-A-M/ASSAIGNMENT-1/blob/main/case%20study5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [ ]:
data=pd.read_csv('Sales_data_zone_wise.csv')

# ***THE MEAN SALE GENERATED BY EACH ZONE***

In [ ]:
zoneA=data['Zone - A'].array
print(zoneA)

<PandasArray>
[1483525, 1238428, 1860771, 1871571, 1244922, 1534390, 1820196, 1625696,
 1652644, 1852450, 2004480, 1537539, 1254939, 1821799, 1128185, 1491534,
 1182110, 1770324, 1181635, 1305972, 1570152, 1481619, 1887694, 1880820,
 1256333, 1422853, 1384426, 1616640, 1310654]
Length: 29, dtype: int64

In [ ]:
zoneB=data['Zone - B'].array
zoneC=data['Zone - C'].array 
zoneD=data['Zone - D'].array

In [ ]:
print('meanof zoneA =',zoneA.mean())
print("mean of zoneB =",zoneB.mean())
print('mean of zoneC =',zoneC.mean())
print('mean of zoneD =',zoneD.mean())

meanof zoneA = 1540493.1379310344
mean of zoneB = 1755559.5862068965
mean of zoneC = 1772871.0344827587
mean of zoneD = 1842926.7586206896

# ** TOTAL SALES GENERATED BY EACH ZONE FOR EACH MONTH **

In [22]:

arr=np.array(data)
no=range(0,29)
for i in no:
  smonth=arr[i,1:4]
  arr1=np.array(smonth)
  np.sum(arr1)
  print(' for prodution in month',i,smonth,"sum=",np.sum(arr1))
  i+=1

 for prodution in month 0 [1483525 1748451 1523308] sum= 4755284
 for prodution in month 1 [1238428 1707421 2212113] sum= 5157962
 for prodution in month 2 [1860771 2091194 1282374] sum= 5234339
 for prodution in month 3 [1871571 1759617 2290580] sum= 5921768
 for prodution in month 4 [1244922 1606010 1818334] sum= 4669266
 for prodution in month 5 [1534390 1573128 1751825] sum= 4859343
 for prodution in month 6 [1820196 1992031 1786826] sum= 5599053
 for prodution in month 7 [1625696 1665534 2161754] sum= 5452984
 for prodution in month 8 [1652644 1873402 1755290] sum= 5281336
 for prodution in month 9 [1852450 1913059 1754314] sum= 5519823
 for prodution in month 10 [2004480 1740365 1317869] sum= 5062714
 for prodution in month 11 [1537539 1875658 1237722] sum= 4650919
 for prodution in month 12 [1254939 1588473 1348629] sum= 4192041
 for prodution in month 13 [1821799 1844081 1617376] sum= 5283256
 for prodution in month 14 [1128185 1804613 1767047] sum= 4699845
 for prodution in month 15 [1491534 1542053 1882159] sum= 4915746
 for prodution in month 16 [1182110 1552388 2234469] sum= 4968967
 for prodution in month 17 [1770324 1699213 1249821] sum= 4719358
 for prodution in month 18 [1181635 1959268 2009168] sum= 5150071
 for prodution in month 19 [1305972 1559670 2107949] sum= 4973591
 for prodution in month 20 [1570152 2013615 1540016] sum= 5123783
 for prodution in month 21 [1481619 1527574 2255729] sum= 5264922
 for prodution in month 22 [1887694 1992155 1348387] sum= 5228236
 for prodution in month 23 [1880820 1752873 2098463] sum= 5732156
 for prodution in month 24 [1256333 1622671 1521792] sum= 4400796
 for prodution in month 25 [1422853 1715465 1853636] sum= 4991954
 for prodution in month 26 [1384426 1983163 1611169] sum= 4978758
 for prodution in month 27 [1616640 1547991 2128022] sum= 5292653
 for prodution in month 28 [1310654 1660092 1947119] sum= 4917865